
:root{
    --font-honk: 'Honk', system-ui;
    --font-robot: 'Roboto', sans-serif;

    --color-main1 : #000000;
    --color-main2 : #FF3EAF;
    --color-main3 : #75abbc;
    --color-main4 : #a2aebb;
    --color-main5 : #eeeeee;
}
body{
    align-items: center;
    background-color: var(--color-main3);
    display: flex;
    flex-direction: column;
}

/* All Sections */

.section{
    width: 300px;
}
.title{
    font-family: var(--font-honk);
    font-size: 30px;
    line-height: 1;
}

p{
    color: var(--color-main5);
    font-family: var(--font-robot);
    font-size: 20px;
    font-weight: 900;
    padding: 5px;

    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}
/* Top Section */

.top{
    text-align: center;
}

/* Middle section */

.middle{
    text-align: center;
}
.score{
    padding: 5px;
}
.score > div{
    display: flex;
    justify-content: center;
}
.result{
    min-width: 100px;
}

/* Bottom Section */
.bottom{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}
.buttons{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button{
    border: 2px solid var(--color-main1);
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--font-honk);
    font-size: 30px;
    height: 40px;
    line-height: 0;
    width: 130px;
}

.result-text{
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 300px;
}
#result-text{
    font-size: 15px;
    padding: 0;
}
